
$darkBg : #282c34;
$metalishColor: #43464B;
$keyPaddingBg : black;
$buttonLabelText : lime ;

.App {
    text-align: center;
    background-color: $darkBg;
    padding-bottom: 10px;
    color: white;
  }
  
  .App-header {
    background-color: $darkBg;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }
  .noSelect {
        user-select: none;
  }

  .coin{
    transition: 1s;
    &:hover{
      cursor: pointer;
      transform: scale(0.8);
      transition: 0.4s;
    }
  }

  .fundContainer{
    background-color: rgba($color: $buttonLabelText, $alpha:0.1);
    border: 1px solid grey;
  }

  .moneyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 10px;
  }

  // .tableContainer{
  //   // padding-left: 50%;
  //   // padding-right: 50%
  // }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    border-collapse: collapse;
    border: 1px solid #999;
  
    td, th {
      
      padding: 0.5rem;
      text-align: left;
    }
  }

  .keyPadContainer{
      display: flex;
      border: 1px solid grey;
      flex-wrap: wrap;
      justify-content:center;
      gap: 10px;
      background-color: $metalishColor;
  }

  .keyPadContainerChild{
        width : 26%;
        background-color: $keyPaddingBg;
        color: $buttonLabelText;
        border: none;

        &:hover{
          color: white;
        }
        
        &:disabled{
          color: $metalishColor;
        }

  }

  .InputScreen{
    border: $keyPaddingBg solid 15px;
    background-color: $buttonLabelText;
    box-shadow: none;
    padding: 5px 5px ;
    overflow: hidden;
    overflow-wrap: break-word;
    color:black;
    font-family: 'Tourney';
    font-weight:900;
    font-size: 30px;
    height: 1em;
  }

  .prod {
    display: flex;
    width: 23%;
    flex-wrap: wrap;
  }
  .textInRight{
    width: 80%;
  }
  .prodImg{
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .productContainer{
    display: flex;
    border: 20px solid grey;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
    background-color: $metalishColor;
  }



  .parent {
    width: 100px;
  }
  
  img {
    object-fit: cover;
    width: 100%;
  }

  .machineGridContainer{
    margin-left: 10%;
    margin-right: 10%;
  }
  .machineContainer{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr); /*change to 20 if using item-c*/
    background-color: #333;
  }

  .item-a {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 10;
    background-color: #111;
  }
  
  .item-b {
    grid-column-start: 5;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: span 2;
  }
  .item-c {
    grid-column-start: 2;
    grid-column-end: span 5;
    grid-row-start: 13;
    grid-row-end: span 2;
    background-color: black;
  }
  .item-d {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: 6;
    grid-row-end: span 3;
  }
  .item-e {
    grid-column-start: 5;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  @media screen and (max-width: 768px){
    .moneyContainer{
      flex-direction: column;
    }
    .moneyContainer{
      flex-direction: column;
    }
    // .item-a{
    //   // grid-row-start: 1;
    // }
    .item-b{
      grid-column-end: span 3;
    }
    .item-d{
      grid-column-end: span 3;
    }
    .item-e{
      grid-column-start: 1;
      grid-column-end: span 9;
      grid-row-start: 1;
      grid-row-end: span 1;
    }
    .machineContainer{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }
    .prod{
      width: 100%;
      // height: 60px;
    }
    .prodImg{
      width: 40%;
      // display: inline !important;
    }
    .textInRight{
      width: 60%;
      display: inline !important;
    }
  }