.App {
  text-align: center;
  background-color: #282c34;
  padding-bottom: 10px;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
}

.noSelect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.coin {
  -webkit-transition: 1s;
  transition: 1s;
}

.coin:hover {
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fundContainer {
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid grey;
}

.moneyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.table {
  border-collapse: collapse;
  border: 1px solid #999;
}

.table td, .table th {
  padding: 0.5rem;
  text-align: left;
}

.keyPadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid grey;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: #43464B;
}

.keyPadContainerChild {
  width: 26%;
  background-color: black;
  color: lime;
  border: none;
}

.keyPadContainerChild:hover {
  color: white;
}

.keyPadContainerChild:disabled {
  color: #43464B;
}

.InputScreen {
  border: black solid 15px;
  background-color: lime;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 5px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: black;
  font-family: 'Tourney';
  font-weight: 900;
  font-size: 30px;
  height: 1em;
}

.prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textInRight {
  width: 80%;
}

.prodImg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 20px solid grey;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: #43464B;
}

.parent {
  width: 100px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.machineGridContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.machineContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  /*change to 20 if using item-c*/
  background-color: #333;
}

.item-a {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 10;
      grid-row-end: span 10;
  background-color: #111;
}

.item-b {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.item-c {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
  -ms-grid-row: 13;
      grid-row-start: 13;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  background-color: black;
}

.item-d {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
}

.item-e {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

@media screen and (max-width: 768px) {
  .moneyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .moneyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-b {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .item-d {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .item-e {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
        grid-row-end: span 1;
  }
  .machineContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
  }
  .prod {
    width: 100%;
  }
  .prodImg {
    width: 40%;
  }
  .textInRight {
    width: 60%;
    display: inline !important;
  }
}
/*# sourceMappingURL=App.css.map */